/* Start Variables */
:root {
    --main-color: #19c8fa;
    --second-color: #777;
    --transparent-color: rgba(15 116 143 / 70%);
    --overlay-color: rgba(0 0 0 / 70%);
    --section-padding: 60px;
    --main-transition: 0.3s;
}

/* End Variables */
/* Start Components */
.special-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--section-padding);
}

.special-heading h1 {
    font-size: 40px;
    font-weight: normal;
    margin: 0 auto 60px;
    position: relative;
}

.special-heading h1::before {
    content: "";
    width: 125px;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -29px;
    left: 50%;
    translate: -50% 0;
}

.special-heading h1::after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    bottom: -37px;
    left: 50%;
    translate: -50% 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.special-heading p {
    text-align: center;
    width: 500px;
    color: var(--second-color);
    padding-bottom: var(--section-padding);
}

@media (max-width: 767px) {
    .special-heading p {
        width: 100%;
    }
}

/* End Components */
/* Start Global Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small size */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium size */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large size */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header .container::after {
    content: '';
    height: 1px;
    width: calc(100% - 30px);
    background-color: #a2a2a2;
    position: absolute;
    bottom: 0;
    left: 15px;
}

header img {
    height: 40px;
}

header nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

header nav .toggle-menu {
    color: white;
    font-size: 22px;
    display: none;
}

header nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header nav ul {
        display: none;
    }

    header nav .toggle-menu {
        display: flex;
    }

    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 50%);
    }

    header nav ul li a {
        padding: 15px !important;
    }
}

header nav ul li a {
    display: block;
    width: 100%;
    padding: 40px 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    z-index: 2;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

header .container nav ul li a:hover,
header .container nav ul li a.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header .container .form {
    width: 40px;
    height: 30px;
    margin-left: 30px;
    border-left: 1px solid white;
    position: relative;
}

header .container .form i {
    color: white;
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0% -50%;
}

/* End Header */
/* Start Landing */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.landing .overlay {
    background-color: var(--overlay-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.landing .text {
    background-color: var(--transparent-color);
    width: 50%;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    padding: 50px 50px 50px 130px;
    color: white;
}

@media (max-width: 767px) {
    .landing .text {
        width: 100%;
        padding: 50px;
    }
}

.landing .text h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text p {
    font-size: 14px;
    line-height: 2;
}

.landing .change-background {
    color: white;
    position: absolute;
}

.landing .left {
    top: 50%;
    left: 30px;
    translate: 0 -50%;
}

.landing .right {
    top: 50%;
    right: 30px;
    translate: 0 -50%;
}

@media (max-width: 767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .bullets {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    translate: -50% 0;
}

.landing .bullets .circle {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 10px;
}

.landing .bullets .circle.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* End Landing */
/* Start Services */
.services {
    padding-bottom: var(--section-padding);
}

.services .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 50px 25px;
}

.services .service-content .srv-box {
    display: flex;
}

.services .service-content .srv-box i {
    margin-right: 30px;
}

.services .service-content .srv-box h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}

.services .service-content .srv-box p {
    color: var(--second-color);
    line-height: 2;
}

@media (max-width: 767px) {
    .services .service-content {
        display: block;
    }

    .services .service-content .srv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

    .services .service-content .srv-box i {
        margin: 0 0 30px
    }
}

/* End Services */
/* Start Design */
.design {
    height: 600px;
    background-image: url(../images/design-features.jpg);
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.design::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--overlay-color);
}

.design .image,
.design .text {
    flex: 1;
    position: relative;
}

.design .image {
    text-align: center;
}

@media (max-width: 767px) {
    .design .image {
        display: none;
    }
}

.design .image img {
    position: relative;
    bottom: -150px;
}

.design .text {
    padding: 50px;
    color: white;
    background-color: var(--transparent-color);
}

.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.design .text ul li {
    padding: 10px;
}

.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    position: relative;
    margin-right: 15px;
    top: 1px;
}

/* End Design */
/* Start Portfolio */
.portfolio {
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle ul {
    display: flex;
    justify-content: center;
    margin-bottom: var(--section-padding);
}

.portfolio .shuffle ul li {
    padding: 10px;
}

.portfolio .shuffle ul li.active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.portfolio .img-container .box {
    padding: 5px;
    position: relative;
    overflow: hidden;
}

@media (min-width: 768px) {
    .portfolio .img-container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .portfolio .img-container .box {
        flex-basis: 25%;
    }
}

.portfolio .img-container .box:hover .caption {
    bottom: 0;
    left: 0;
}

.portfolio .img-container .box:hover img {
    rotate: 3deg;
    scale: 1.1;
}

.portfolio .img-container .box img {
    width: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.portfolio .img-container .box .caption {
    background-color: white;
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: -100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.portfolio .img-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}

.portfolio .img-container .box .caption p {
    color: var(--main-color);
}

.portfolio .more {
    display: block;
    background-color: var(--main-color);
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 0 auto;
    width: fit-content;
    text-transform: uppercase;
}

/* End Portfolio */
/* Start Video */
.video {
    position: relative;
}

.video::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0 0 0 / 35%);
}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    top: 50%;
    translate: 0% -50%;
    background-color: var(--transparent-color);
    width: 100%;
    text-align: center;
    color: white;
    padding: 30px;
}

@media (max-width: 767px) {
    .video .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.video .text h2 {
    font-weight: normal;
    margin-bottom: 30px;
}

.video .text p {
    margin-bottom: 30px;
}

.video .text button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    width: fit-content;
}

/* EndVideo */
/* Start About */
.about {
    text-align: center;
    overflow: hidden;
}

.about img {
    text-align: center;
    position: relative;
    margin-top: -180px;
    bottom: -180px;
    width: 100%;
}

@media (max-width: 767px) {
    .about img {
        bottom: -60px;
        margin-top: -45px;
    }
}

/* End About */
/* Start Stats */
.stats {
    background-image: url(../images/stats.png);
    background-size: cover;
    padding: var(--section-padding) 0px;
    text-align: center;
    position: relative;
}

.stats::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
}

.stats .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--transparent-color);
}

.stats .box {
    padding: 50px;
    color: white;
}

@media (max-width: 767px) {
    .stats .box {
        flex-basis: 100%;
    }

    .stats .box:not(:last-of-type) {
        border-bottom: 1px solid white;
    }
}

@media (min-width: 767px) {
    .stats .box {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .stats .box {
        flex-basis: 25%;
    }
}

.stats .box i {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto 30px;
}

.stats .box .numbers {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.stats .box p {
    font-size: 14px;
}

/* End Stats */
/* Start Our Skills */
.our-skills {
    padding: var(--section-padding) 0px;
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
}

.our-skills .container>div {
    flex-basis: 45%;
}

@media (max-width: 767px) {

    .our-skills .container {
        display: block;
    }
}

.our-skills .container>div>h3 {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.our-skills .container>div>p {
    text-align: center;
    color: var(--second-color);
    line-height: 1.8;
    margin-bottom: 60px;
}

.our-skills .testimonials .content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-skills .testimonials .content img {
    width: 100px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.our-skills .container .content .info {
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.our-skills .testimonials .content .info .text {
    line-height: 1.8;
    margin-bottom: 10px;
}

.our-skills .testimonials .content .info p {
    text-align: right;
    font-size: 14px;
    color: var(--second-color);
    margin-bottom: 10px;
}

.our-skills .testimonials .bullets ul {
    display: flex;
    justify-content: center;
}

.our-skills .testimonials .bullets ul li {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    border: 1px solid var(--second-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.our-skills .testimonials .bullets ul li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

@media (max-width: 767px) {
    .our-skills .testimonials .content {
        flex-direction: column;
        text-align: center;
    }

    .our-skills .testimonials .content img {
        margin-right: 0px;
    }

    .our-skills .testimonials .bullets {
        margin-bottom: 50px;
    }
}

.our-skills .skills .prog-holder {
    padding: 15px;
}

.our-skills .skills .prog-holder h4 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 15px;
}

.our-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    width: 100%;
    height: 30px;
}

.our-skills .skills .prog-holder .prog span {
    display: block;
    height: 100%;
    background: var(--main-color);
    position: relative;
}

.our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    color: white;
    background: black;
    border-radius: 3px;
    padding: 2px 5px;
    position: absolute;
    top: -35px;
    right: -20.76px;
}

.our-skills .skills .prog-holder .prog span::after {
    content: "";
    border: 8px solid;
    border-color: black transparent transparent;
    position: absolute;
    right: -8px;
    top: -13px;
}

/* End Our Skills */
/* Start Quote */
.quote {
    padding: var(--section-padding) 0px;
    background-image: url(../images/quote.jpg);
    background-size: cover;
    position: relative;
}

.quote::before {
    content: "";
    background-color: var(--overlay-color);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.quote .container {
    text-align: center;
    color: white;
    position: relative;
}

.quote .container q {
    font-size: 30px;
    margin-bottom: 30px;
    display: block;
}

/* End Quote */
/* Start Pricing */
.pricing {
    padding-bottom: var(--section-padding);
}

.pricing .pricing-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    justify-content: space-between;
}

.pricing .pricing-container .box {
    text-align: center;
}

.pricing .pricing-container .box .head {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--main-color);
    padding: 30px 0;
}

.pricing .pricing-container .box .head h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.pricing .pricing-container .box .head span {
    font-size: 60px;
    font-weight: bold;
    position: relative;
}

.pricing .pricing-container .box .head span::before {
    content: "$";
    position: absolute;
    font-size: 25px;
    font-weight: normal;
    top: 0;
    left: -20px;

}

.pricing .pricing-container .box .head span::after {
    content: "/Mo";
    position: absolute;
    font-size: 20px;
    bottom: 14px;
    right: -50px;
}

.pricing .pricing-container .box ul li {
    padding: 20px;
    position: relative;
}

.pricing .pricing-container .box ul li:not(:last-of-type)::before {

    content: "";
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
}

.pricing .pricing-container .box .foot {
    border-top: 1px solid var(--main-color);
    padding: 60px 0;
}

.pricing .pricing-container .box .foot a {
    text-decoration: none;
    padding: 15px 20px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.pricing .contact {
    text-align: center;
    padding-top: 30px;
}

.pricing .contact p {
    font-size: 20px;
    margin-bottom: 50px;
}

.pricing .contact a {
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    padding: 15px 20px;
}

/* End Pricing */